<!--NavBar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid" id=sidebar>
    <a class="navbar-brand" href="/">INFR3120</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto"> 

        <li class="nav-item">
        <% if (title == "Home") { %>
          <a class="nav-link active" href="/home">
        <% } else { %>
          <a class="nav-link" href="/home">
        <% } %>
         <i class="fa-solid fa-house"></i> Home</a>
        </li>

        <li class="nav-item">
        <% if (title == "About") { %>
          <a class="nav-link active" href="/about">
        <% } else { %>
          <a class="nav-link" href="/about">
        <% } %>
          <i class="fa-solid fa-magnifying-glass"></i> About</a>
        </li>        

        <li class="nav-item">
        <% if (title == "Services") { %>
          <a class="nav-link active" href="/services">
        <% } else { %>
          <a class="nav-link" href="/services">
        <% } %>
          <i class="fa-solid fa-hands"></i> Service </a>
        </li>
        
        <li class="nav-item">
        <% if (title == "NBA 50 point games in The Last 2 Seasons") { %>
          <a class="nav-link active" href="/nba-list">
        <% } else { %>
          <a class="nav-link" href="/nba-list">
        <% } %>
          <i class="fa-solid fa-basketball"></i> NBA 50 point games in The Last 2 Seasons</a>
        </li>

        <li class="nav-item">
        <% if (title == "Products") { %>
          <a class="nav-link active" href="/products">
        <% } else { %>
          <a class="nav-link" href="/products">
        <% } %>
          <i class="fa-solid fa-box"></i>
           Products</a>
        </li>

        <li class="nav-item">
        <% if (title == "Contact") { %>
          <a class="nav-link active" href="/contact">
        <% } else { %>
          <a class="nav-link" href="/contact">
        <% } %>
          <i class="fa-solid fa-address-book"></i>
          Contact us</a>
        </li>

    </div>
  </div>
</nav>